---
layout: default
published: true
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
  <hr>
  <!--
  <p>Thanks for reading this far!</p>
  <p>For comments or questions, feel free to ask me on <a href="http://www.github.com/keosariel">GitHub</a>, on <a href="http://www.twitter.com/keosariel">Twitter</a> or via email at kennethgabriel78@gmail.com.</p>
</article>-->

{% if site.related_posts != empty %}
<aside class="related">
  <h3>More</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}{{post.posttype}}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

<!-- <div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
    this.page.url = "{{ site.baseurl }}{{ post.url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ post.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-keosariel-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//https-keosariel-github-io.disqus.com/count.js" async></script> -->
