---
layout: default
published: true
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
  <hr>
  <p>Thanks for reading this far!</p>
  <p>For comments or questions, feel free to ask me on <a href="http://www.github.com/keosariel">GitHub</a>, on <a href="http://www.twitter.com/keosariel">Twitter</a> or via email at kennethgabriel78@gmail.com.</p>
</article>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>